BasedOnStyle: LLVM
IndentWidth: 4

---
Language: Cpp

NamespaceIndentation: Inner

BreakTemplateDeclarations: Yes

ColumnLimit: 80

IncludeBlocks: Regroup
SortIncludes: false

DerivePointerAlignment: false
PointerAlignment: Left

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDefinitionName: false
  AfterOverloadedOperator: false

SpaceBeforeRangeBasedForLoopColon: true

AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
  BeforeCatch: true
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: true

BinPackArguments: false
BinPackParameters: false
PenaltyBreakTemplateDeclaration: 0
PenaltyBreakBeforeFirstCallParameter: 0

AlignAfterOpenBracket: BlockIndent
BreakBeforeBinaryOperators: NonAssignment